{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>betelgeuse | login</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body >
    <div class="head">
        LOGIN TO THE ACCOUNT
    </div>
    <nav class="homenav">
        <li><a href="index">home</a></li>
        <li><a href="signup">sign up</a></li>
        <li><a href="menupage">menu-items</a></li>           
    </nav>
    </div>
    <div class="containerlog">
    <div class="login-page">
        Email id:<input  style="max-width: 300px; margin-bottom: 1%;padding:5px;" type="email">
        password:<input style="max-width: 300px; margin-bottom:1%; padding:5px;" type="password">
        <br>
        <button style="background-color:rgb(72,107,202); color:white; width:300px;padding:10px;"><a href="tableselect">LOGIN</a></button>
    </div>
    </div>
</body>
</html>