{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>betelgeuse | menu</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="head">
        <img src="{% static 'images/logo.png' %}" style="width:3em; margin-bottom: 0%;height:3em;">
        BETELGEUSE RESTAURANTS
    </div>

    <nav class="homenav">
        <li><a href="login">login</a></li>
        <li><a href="index">home</a></li>
        <li></li>
    </nav>
    <div class="header">
        Menu items
    </div>
    <section class="dropdown">
        <!-- table selection-->
        <button onclick="dropdown()">select item quantity</button>
    </section>
    <div>
        <div class="products">
            <div id="f">
                <img id="f1" src="{% static 'images/p1img.jpeg' %}" style="width:150px;">
                <p>Rs.250</p>
                quantity:<input onclick="tprice(250)" type="number" style="width:100px;">
            </div>
            <div id="f">
                <img id="f1" src="{% static 'images/p2img.jpeg' %}" style="width:150px;">
                <p>Rs.300</p>
                quantity:<input onclick="tprice(300)" type="number" style="width:100px;">
            </div>
            <div id="f">
                <img id="f1" src="{% static 'images/p3img.jpeg' %}" style="width:150px;">
                <p>Rs.350</p>
                quantity:<input onclick="tprice(350)" type="number" style="width:100px;">
            </div>
            <div id="f">
                <img id="f1" src="{% static 'images/p4img.jpeg' %}" style="width:150px;">
                <p>Rs.400</p>
                quantity:<input onclick="tprice(400)" type="number" style="width:100px;">
            </div>
            <div id="f">
                <img id="f1" src="{% static 'images/p5img.jpeg' %}" style="width:150px;">
                <p>Rs.450</p>
                quantity:<input onclick="tprice(450)" type="number" style="width:100px;">
            </div>

        </div>
        <div id="proceed">
            <button onclick="checkout()" type="submit"><a href="pay">proceed</a></button>
        </div>
    </div>
    <div class="footer">

    </div>
</body>

</html>