{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>betelgeuse | signup</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
    <div class="head">
        signup
    </div>
        <nav class="homenav">
        <li><a href="login">login</a></li>
        <li><a href="index">home</a></li>
        <li><a href="menupage">menu-items</a></li>           
        </nav>
        <div class="containerlog">
            <div class="login-page">
                Email id:<input  style="max-width: 400px; padding:5px; margin-bottom: 1%;" type="email">
                user name:<input style="max-width: 300px; padding:5px; margin:1%" type="text">
                 set password:<input style="max-width: 300px; padding:5px; margin:1%" type="password">
                <br>
                <button style="background-color:rgb(72,107,202); color:white; width:300px; padding:10px;"><a href="tableselect.html">SIGNUP</a></button>
            </div>
            </div>
</body>
</html>